@font-face { font-family: CustomFont; src: url('rsc/font1.OTF'); } 
@font-face { font-family: HeadingFont; src: url('rsc/font2.OTF'); } 

body {
	margin:0 0 0 0;
	font-family: CustomFont;
	font-size: 16px;
	color: #4A4A4A;
	background-color: white;
}
h1{
	font-weight: normal;
}
input{
	width:250px;
}
input[type=radio]{
	width: 20px;
}
select{
	width:250px;
}
input[type=submit],input[type=reset]{
	margin: 5px 5px 5px 5px;
	width: 75px;
	height: 35px;
	background: #007194;
	border: none;
	font-family: CustomFont;
	font-size: 16px;
	outline: 0;
	color: black;
}
input[type=submit]:focus,input[type=reset]:focus,input[type=submit]:active,input[type=reset]:active{
	outline: 0;
}
input[type=submit]:hover,input[type=reset]:hover{
	background: #fcd954;
}

#header{
	width: 100%;
	min-width: 1200px;
	height: 70px;
	line-height: 70px;
	background: #85A5CC;
	margin: 20px 0 20px 0;
}
#header-content{
width: 1000px;
margin: 0 auto 0 auto;
font-size: 38px;
font-family: HeadingFont;
vertical-align: middle;
}
#himg,#himg_data,#himg_gen,#himg_home{
	margin:19px 10px 0 0;
	width: 32px;
	height: 32px;
	float: left;
}
#himg{
	background: url(rsc/add.png);
}
#himg_gen{
	background: url(rsc/gen.png);
}
#himg_data{
	background: url(rsc/base.png);
}
#himg_home{
	background: url(rsc/home.png);
}
#htxt{
	float: left;
}
#menu{
	vertical-align: middle;
	text-align: right;
}
#menu a{
	margin: 0 10px 0px 10px;
	color: #4A4A4A;
	font-size: 26px;
	text-decoration: none;
	display: inline-block;
}
#menu a:visited,#menu a:link{
	color: #4A4A4A;
}
#menu a:hover{
	color: #fcd954;
}

#content{
	width: 1200px;
	margin: 0 auto 0 auto;
}
#map{
	width: 300px;
	height: 500px;
	float: left;
	margin: 10px 20px 0 0;
	vertical-align: middle;
	
}

#addForm {
	float: right;
}
	
.none_active{
	fill: #aaa;
	stroke: white;
	stroke-width: 0.5;
}
.active_loc{
	fill: #85A5CC;
	stroke: white;
}

.formTable{
	border-collapse:collapse;
	margin-bottom: 20px;
	min-width: 480px;
}
.formTable td{
	padding: 5px 18px 5px 0;
}
.formTable tr{
	border-bottom:1px solid #E3E3E3;
	border-top:1px solid #E3E3E3;
}
#textContent{
	width:1000px;
	margin: 0 auto 0 auto;
	font-size: 20px;
}
 a{
	color: #85A5CC;
	text-decoration: none;
}
 a:visited, a:link{
	color: #85A5CC;
}
a:hover{
	color: #fcd954;
}

.personsTable table
{
border-collapse:collapse;
width:100%;
}
.personsTable table,th, td
{
border: 1px solid black;
}

.personsTable th
{
height:50px;
background-color:#85A5CC;
color:white;
} 

.personsTable td
{
text-align:right;
height:50px;
vertical-align:bottom;
padding:15px;
}


